/* adjust-color($color,
  $red: null, $green: null, $blue: null,
  $hue: null, $saturation: null, $lightness:
  null,
  $whiteness: null, $blackness: null,
  $alpha: null)
*/
p {
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: salmon;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 3em;
}

.h1 {
  width: 800px;
  display: grid;
  place-items: center;
  height: 100px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  background-color: black;
  text-align: center;
  color: fuchsia;
}

.h2 {
  width: 800px;
  display: grid;
  place-items: center;
  height: 100px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  background-color: black;
  text-align: center;
  color: rgb(212.5, 0, 255);
}

.h3 {
  width: 800px;
  display: grid;
  place-items: center;
  height: 100px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  background-color: black;
  text-align: center;
  color: #72ecfa;
}

.h4 {
  width: 800px;
  display: grid;
  place-items: center;
  height: 100px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  background-color: black;
  text-align: center;
  color: #000099;
}

.h5 {
  width: 800px;
  display: grid;
  place-items: center;
  height: 100px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  background-color: black;
  text-align: center;
  color: #6666ff;
}

.h6 {
  width: 800px;
  display: grid;
  place-items: center;
  height: 100px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  background-color: black;
  text-align: center;
  color: rgb(127.5, 127.5, 127.5);
}

.h7 {
  width: 800px;
  display: grid;
  place-items: center;
  height: 100px;
  margin: 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  background-color: black;
  text-align: center;
  color: rgb(100, 51.2, 198.6);
}